body {
  background: #E4DFDA;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
  height: 0;
  width: 0;
}

h1 {
  font-size: 7rem;
  text-align: center;
}
.page {
  height: 50%;
  margin: 10% auto;
  width: 50%;
}
.carousel {
  float: left;
  height: 92%;
  width: 92%;
}

img {
  height: 100%;
  width: 97%;
}

a {
  float: left;
}

.previous {
  font-size: 3rem;
  margin: 22% 3.2% 0 0;
}

.next {
  font-size: 3rem;
  margin: 22% 0 0 .2%;
}
